$margin-bottom: 35px;

.mat-card {
  margin-bottom: $margin-bottom;
  padding: 10px 30px;
  width: 400px;
}

.mat-card-title {
  overflow: hidden;
  width: 400px;
  height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-container {
  margin-bottom: $margin-bottom;
  overflow: hidden;
  width: 100%;
  height: 260px;
}

.image-item {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.delete-button-container {
  display: flex;
  height: 0;
  justify-content: flex-end;
}

.mat-icon-button {
  margin-top: -10px;
  margin-right: -35px;
}

.delete-button-item {
  font-size: 1rem;
}
