<mat-card>
  <div *ngIf="isBookmarks" class="delete-button-container">
    <button (click)="removeItem()" mat-icon-button color="warn">
      <mat-icon class="delete-button-item">clear</mat-icon>
    </button>
  </div>
  <mat-card-title title="{{ title }}">{{ title }}</mat-card-title>
  <mat-card-content>
    <div (click)="zoomImage()" class="image-container">
      <img class="image-item" src="{{ image }}_c.jpg" alt="{{ title }}" />
    </div>
    <button
      *ngIf="!isBookmarks"
      (click)="saveToLocalstorage()"
      mat-raised-button
      color="primary"
    >
      Bookmark it!
    </button>
    <app-tags
      *ngIf="!isBookmarks"
      (tagChangeEvent)="applyTags($event)"
    ></app-tags>
    <p *ngIf="isBookmarks"><b>Tags: </b>{{ formatSavedTags }}</p>
  </mat-card-content>
</mat-card>
