.preview-image-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.delete-button-item {
  font-size: 2rem;
}
