$layout_item_max_width: 1450px;
$padding: 40px;
$padding-left: 80px;

.layout-item-container {
  margin: auto;
  max-width: $layout_item_max_width;
}

.has-padding-top {
  padding-top: $padding;
}

.has-padding-bottom {
  padding-bottom: $padding;
}

.has-padding-left {
  padding-left: $padding-left;
}

.has-padding-right {
  padding-right: $padding;
}
