<div class="form-control">
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        [id]="id + '1'"
        (change)="changeCheckbox1()"
        value="2"
      /><label [htmlFor]="id + '1'">{{ text1 }}</label>
    </label>
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          [id]="id + '2'"
          (change)="changeCheckbox2()"
          value="2"
        /><label [htmlFor]="id + '2'">{{ text2 }}</label>
      </label>
    </div>
  </div>
</div>
