<div class="form-control">
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="radio"
        [id]="id + '1'"
        [checked]="!initialValue"
        (change)="changeRadio()"
        value="2"
      /><label [htmlFor]="id + '1'">{{ text1 }}</label>
    </label>
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="radio"
          [id]="id + '2'"
          [checked]="initialValue"
          (change)="changeRadio()"
          value="2"
        /><label [htmlFor]="id + '2'">{{ text2 }}</label>
      </label>
    </div>
  </div>
</div>
