@import 'styles/variables';

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $text-color;
}

.snackbar-item {
  border: 1px solid black;
  color: black;
  background: white;
}

.cdk-global-scrollblock {
  overflow: hidden;
}

.mat-dialog-container {
  background: unset;
  box-shadow: unset;
}

.mat-card {
  color: $text-color;
}
