<div class="card">
  <div class="card-body">
    <form (ngSubmit)="save()" [formGroup]="customerForm">
      <div
        *ngFor="let item of data; let i = index; trackBy: dataById"
        [ngSwitch]="item.type"
      >
        <ng-container *ngSwitchCase="fieldType.CHECKBOX">
          <app-checkbox
            [id]="item.id"
            [required]="item.required"
            [readonly]="item.readonly"
            [text]="item.text"
            [formControlName]="item.type + item.id"
          ></app-checkbox>
          <app-validation-errors
            [formGroup]="customerForm"
            [controlName]="item.type + item.id"
            [errorMessage]="'Error'"
          ></app-validation-errors>
        </ng-container>
        <ng-container *ngSwitchCase="fieldType.RADIO">
          <app-radio-button
            [id]="item.id"
            [required]="item.required"
            [readonly]="item.readonly"
            [text]="item.text"
            [formControlName]="item.type + item.id"
          ></app-radio-button>
          <app-validation-errors
            [formGroup]="customerForm"
            [controlName]="item.type + item.id"
            [errorMessage]="'Error'"
          ></app-validation-errors>
        </ng-container>
        <ng-container *ngSwitchCase="fieldType.TEXT">
          <app-text
            [id]="item.id"
            [text]="item.value"
            [required]="item.required"
            [readonly]="item.readonly"
            [formControlName]="item.type + item.id"
          ></app-text>
          <app-validation-errors
            [formGroup]="customerForm"
            [controlName]="item.type + item.id"
            [errorMessage]="'Error'"
          ></app-validation-errors>
        </ng-container>
        <ng-container *ngSwitchCase="fieldType.SELECT">
          <app-dropdown [id]="item.id" [values]="item.value"></app-dropdown>
          <app-validation-errors
            [formGroup]="customerForm"
            [controlName]="item.type + item.id"
            [errorMessage]="'Error'"
          ></app-validation-errors>
        </ng-container>
        <ng-container *ngSwitchCase="fieldType.RADIO_GROUP">
          <app-radio-button-group
            [id]="item.id"
            [initialValue]="false"
            [text1]="item.text[0]"
            [text2]="item.text[1]"
            [formControlName]="item.type + item.id"
          ></app-radio-button-group>
          <app-validation-errors
            [formGroup]="customerForm"
            [controlName]="item.type + item.id"
            [errorMessage]="'Error'"
          ></app-validation-errors>
        </ng-container>
        <ng-container *ngSwitchCase="fieldType.CHECKBOX_GROUP">
          <app-checkbox-group
            [id]="item.id"
            [initialValue1]="false"
            [initialValue2]="false"
            [text1]="item.text[0]"
            [text2]="item.text[1]"
            [formControlName]="item.type + item.id"
          ></app-checkbox-group>
          <app-validation-errors
            [formGroup]="customerForm"
            [controlName]="item.type + item.id"
            [errorMessage]="'Error'"
          ></app-validation-errors>
        </ng-container>
        <ng-container *ngSwitchCase="fieldType.DATEPICKER">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControlName]="item.type + item.id"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-container>
      </div>
    </form>
  </div>
</div>
