$WARNING_COLOR: #dc3545;

.text-container {
  width: 300px;
}

.invalid-feedback {
  color: $WARNING_COLOR;
}

.form-control {
  display: block;
}

.input-field {
  padding-left: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid #d7dde1;
  border-radius: 20px;
  font-size: 18px;
  outline: none;
}
